// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// resources/assets/sass/app.scss

@import '~jquery-ui/themes/base/all.css';

main {
    display: flex;
.sidebar {
    min-height: calc(100vh - 55px);
}

}
